/*sección productos*/

.index__products{
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 30px;
}
.index__products__product{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.index__products__product img{
    width: 100%;
}
.index__products__product h4{
   margin: 10px 0;
   text-transform: capitalize;
}

.index__products__product__a{
    display: inline-block;
    padding: 5px;
    background-color: var(--colorRojo);
    width: 100px;
    text-align: center;
    margin-top: 10px;

}

/*aside de tutoriales y publicidad*/

.index__tutorials{
    margin-top: 30px;
}
.index__tutorials h3, .index__publicidad h3{
    padding: 10px;
    background-color: white;
    border: 1px solid var(--colorBorde);
    margin-bottom: 10px;
}
.index__tutorials_tutorial {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid var(--colorBorde);    
    border-bottom: none;
}
.index__tutorials_tutorial:last-child{
    border-bottom: 1px solid var(--colorBorde);
}

.index__tutorials_tutorial p{
    margin-left: 10px;
}
.index__publicidad{
    margin-top: 30px;
}
.index__publicidad-article{
    padding:0 10px;
    background-color: white;
    border: 1px solid var(--colorBorde);    
    
}
.index__publicidad-article img{
    margin: 10px 0;
    width: 100%;
}

@media (min-width:425px) {
    .index__products__product{
        width: 380px
    }
}